.button {
  background-color: #ffffff;
  color: #db1c48;
  border: 1px solid #db1c48;
  font-size: 16px;
  height: 30px;
  width: 70px;
  border-radius: 12px;
  cursor: pointer;
  margin-right: 15px;
}

.active-btn {
  background-color: #db1c48;
  color: #ffffff;
  border-width: 0px;
}
